  /* ----------- FOOTER ------------- */
  
  .body__footer {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .footer__gif {
    max-width: 70px;
    max-width: 70px;
  }
  
  .f2,
  .f3 {
    margin-top: 1rem;
  }
  
  .f2 {
    color: red;
  }
  
  .th {
    text-align: left;
  }
  