<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Historia de Kiss</title>
    <meta
      name="keywords"
      content="Kiss, Kiss World, Gene, Simmons, Paul, Stanley, Eric, Singer, tommy, thayer, HistoriaKiss, musica, historia de kiss"
    />
    <meta
      name="description"
      content="KISS Tour Dates, Klassic Videos, Music, Merchandise and More! Home of the KISS ARMY, Find KISS tickets and concert information from the official KISS ..."
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link rel="icon" href="../assets/images/favicon.ico" />
    <link rel="stylesheet" href="../assets/css/css.css" />
  </head>

  <body class="responsive body">
    <header class="body__header">
      <h1 class="title">KISS WORLD TOUR</h1>
      <div class="logotipo"></div>
      <nav class="navbar navbar-expand-lg">
        <div class="text-center">
          <a class="navbar-brand" href="../index.html">Inicio</a>
          <button
            class="navbar-toggler mx-0 px-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item mx-4">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="../index.html"
                  >Inicio</a
                >
              </li>
              <li class="nav-item mx-4">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="../views/integrantes.html"
                  >Integrantes</a
                >
              </li>
              <li class="nav-item mx-4">
                <a class="nav-link active" href="../views/historia.html"
                  >Historia</a
                >
              </li>
              <li class="nav-item mx-4">
                <a class="nav-link active" href="../views/media.html">Media</a>
              </li>
              <li class="nav-item mx-4">
                <a class="nav-link active" href="../views/contacto.html"
                  >Contacto</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="body__main">
      <div class="art">
        <section class="historia__section">
          <h2 class="art__title">Historia de KISS</h2>
          <article>
            <p class="art__text">
              Cuarteto neoyorquino de música rock formado en el año 1972 por los
              estadounidenses Peter Criss (Peter Crisscoula, 1947), Gene Simmons
              (Gene Klein, 1949), Ace Frehley (Paul Frehley, 1951) y Paul
              Stanley (Paul Eisen, 1951). Sin duda una de las bandas de rock
              duro más respetadas en la historia de este género, a lo largo de
              su dilatada trayectoria consiguieron diecisiete álbumes de oro y
              la idolatría de una legión de admiradores; su inmensa popularidad
              les llevó a ser, incluso, protagonistas de un cómic.
            </p>
            <section>
            <img src="../assets/images/historia1.jpg" alt="historia1" />
          </section>
            <p class="art__text">
              Gene Simmons y Paul Stanley contactaron con el batería Peter Criss
              y con el guitarra Ace Frehley a través de un anuncio en el
              periódico a principios de los setenta. Bajo la influencia de la
              avalancha del glam-rock, adoptaron una puesta en escena con
              zapatos de grandes plataformas, vestimenta glam y mucho
              maquillaje, lo que les permitía además permanecer en el anonimato.
              Lanzaron su primer álbum en 1974 (Kiss), y para 1975 ya habían
              introducido un single en el top quince de las listas de éxitos.
              Rock ´n´ roll all night entró en el número doce, al igual que el
              LP que grabaron en directo, Alive!, que alcanzó la novena posición
              en las listas norteamericanas, y que constituyeron sus primeros
              grandes éxitos a nivel nacional. En el año 1976 tuvo lugar su
              presentación en directo en el Reino Unido, y Destroyer, un álbum
              clásico en de su discografía, se introdujo con rapidez en las
              listas de este país. Ese mismo año, Frehley sufrió una descarga
              eléctrica durante un concierto en California, aunque por fortuna
              no sufrió heridas graves. Un año después, en 1977, salió a la
              venta el cómic basado en los cuatro peculiares personajes
              maquillados, así como el álbum Love Gun, que llegó al cuarto lugar
              en las listas norteamericanas. En 1978, momento álgido dentro de
              la vida del grupo, los cuatro componentes lanzaron discos en
              solitario, y a pesar de que obtuvieron buenos resultados, no
              igualaron las ventas del cuarteto. I was made for lovin´you fue el
              tema que les lanzó a escala internacional de manera definitiva: se
              colocó en el top cincuenta británico y sonó en las emisoras de
              medio mundo. El LP asociado, Dinasty, editado en el año 1979, y
              Unmasked (1980) marcan su época más famosa, pero después de este
              último, Peter Criss abandonó el grupo para ser reemplazado por
              Eric Carr. En 1983, Vinnie Vincent reemplazó a Frehley, que
              abandonó el grupo para formar su propia banda y obtener su mayor
              éxito en el Reino Unido. En 1983, tras aparecer en una entrevista
              despojados de su maquillaje característico, editaron Lick It Up,
              álbum que marcó un hito en la historia del grupo: era el primero
              en el que aparecían en portada con la cara descubierta, y el
              primero que vio la luz en Vertigo Records, después de abandonar el
              sello de toda su carrera discográfica anterior, Casablanca
              Records. Dicho álbum revitalizó la carrera del grupo y les llevó a
              conseguir los mejores resultados de ventas en el Reino Unido; un
              año después, Mark St. John reemplazaba a Vincent, que abandonó la
              formación. Con Simmons y Stanley como supervivientes, editaron su
              decimosexto LP, Asylum, en el año 1985, que se colocó en el top
              veinte en ambos lados del Atlántico. Crazy Nights fue el mayor
              éxito de Kiss en el Reino Unido: tanto el sencillo como el álbum
              del mismo título alcanzaron la cuarta posición en las listas
              británicas. Era el año 1987; a partir de aquí sus ventas empezaron
              a decaer conforme acababa la década, aunque su actividad
              discográfica no cesó completamente; claro ejemplo de ello es
              Revenge, editado en el año 1992, o Alive III, álbum en directo
              lanzado en el año 1993.
            </p>
            <section class="historia__img">
            <img src="../assets/images/historia2.jpg" alt="historia2">
          </section>
          <section>
            <img src="../assets/images/historia3.jpg" alt="historia3">
          </section>
          <section>
            <p class="art__text">
            Recientemente la formación original de Kiss (Simmons, Stanley, Criss y Frehley) editó un álbum (Kiss unplugged) grabado en estudio, pero con público, en el que aparecen los temas clásicos de la banda grabados con sonido acústico. Tras esta experiencia, los cuatro integrantes dedicaron los años 1996 y 1997 a una gigantesca gira mundial en la que actuaron con la imagen glam que les caracterizaba antaño (maquillaje incluido) y que constituyó un éxito rotundo en la ya dilatada carrera de la banda.
          </p>
          </section>
          </article>
        </section>
      </div>
    </main>

    <footer class="body__footer">
      <div>
        <img
          class="footer__gif"
          src="../assets/images/logokiss.gif"
          alt="Logo Kiss"
          placeholder="Logo Kiss"
        />
      </div>
      <div class="f2">
        <p>Kiss 2022 - Todos los derechos reservados</p>
      </div>
      <div>
        <ul class="my-1 mx-1 list-unstyled d-inline-block">
          <li class="list-inline-item">
            <a href="https://www.instagram.com/kissonline/?theme=dark"
              ><i class="fa-brands fa-instagram"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.facebook.com/KISS"
              ><i class="fa-brands fa-facebook"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/KISS"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="f3">
        <a href="">Condiciones de uso</a>
        <a href="">Politica de privacidad</a>
        <a href="">Politica de cookies</a>
      </div>
    </footer>
    <script
      src="https://kit.fontawesome.com/d2370da5c3.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
