/* ----------- INDEX MAIN ------------- */

.body__main {
  text-align: center;
  justify-content: center;
  width: 100%;
}

.artmain {
  padding: 1vw;
  margin: 1vw;
  color: map-get($map: $colors, $key: "color-texto-rojo");
}

.maingif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding-bottom: 5%;
}

.maintext {
  vertical-align: middle;
  text-align: center;
  font-size: medium;
  font-weight: bold;
}

.mainh2 {
  vertical-align: middle;
  text-align: center;
}

.maintext--principal{
  @extend .maintext;
  background-color: map-get($map: $colors, $key: 'color-fondo-amarillo' );
  border: solid;
  border-color: map-get($map: $colors, $key: 'color-borde-rojo' );
}