/* ----------- INTEGRANTES ------------- */
  
  
.carousel-caption h5{
    color: yellow;
    font-size: 2em;
    font-weight: bolder;
   }
  
   .carousel-caption p{
    color: $color-texto-rojo;
    font-size: 2em;
    font-weight: bolder;
   }
  
   .carousel-item img{
    width: auto;
    height: auto;
    object-position: center center;
   }

.carousel-item{
    object-fit: contain;
}