/* ----------- INTEGRANTES ------------- */
  
  
.carousel-caption h5{
    color: map-get($map: $colors, $key: 'color-texto-amarillo');
    font-size: 2em;
    font-weight: bolder;
   }
  
   .carousel-caption p{
    color: map-get($map: $colors, $key: 'color-texto-rojo');
    font-size: 2em;
    font-weight: bolder;
   }
  
   .carousel-item img{
    width: auto;
    height: auto;
    object-position: center center;
   }

.carousel-item{
    object-fit: contain;
}