/* ----------- INTEGRANTES ------------- */


.carousel-caption h5 {
    @include integrantes-text(yellow);
}

.carousel-caption p {
    @include integrantes-text(red);
}

.carousel-item img {
    width: auto;
    height: auto;
    object-position: center center;
}

.carousel-item {
    object-fit: contain;
}