/* -------------------------------------------- FUNCTIONS ---------------------------------------------------- */
.art-color-texto-rojo {
  color: red; }

.art-color-texto-blanco {
  color: white; }

.art-color-texto-amarillo {
  color: yellow; }

.art-color-fondo-negro {
  color: black; }

.art-color-fondo-amarillo {
  color: yellow; }

.art-color-borde-rojo {
  color: red; }

.art-color-borde-amarillo {
  color: yellow; }

/* -------------------------------------------- RESET ---------------------------------------------------- */
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important; }

/* ----------- HEADER ------------- */
.responsive {
  width: 100%;
  margin: 0 auto; }

.title {
  display: none; }

.body {
  background-color: black; }

.logotipo {
  background-image: url("../../assets/images/kisslogo2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  width: 100%;
  height: 30rem; }

.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
  font-family: "sans-serif"; }
  .navbar .navbar-brand {
    display: none; }
  .navbar .navbar-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: large;
    margin: 0rem;
    padding: 0rem;
    text-align: center;
    list-style-type: none;
    margin-bottom: 3vh; }
  .navbar .navbar-nav li a {
    padding: 0.1rem;
    border: solid;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.1rem;
    font-variant: small-caps;
    font-style: normal;
    text-transform: uppercase capitalize;
    background-color: yellow;
    border-color: red;
    border-width: 0.2rem;
    color: black;
    border-radius: 10%; }
  .navbar .navbar-nav li a:hover {
    padding: 0.2rem;
    border: solid;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0.1rem;
    font-variant: small-caps;
    font-style: normal;
    font-family: "Arial";
    text-transform: uppercase capitalize;
    transition: all 300ms;
    background-image: linear-gradient(to right, red, red, yellow);
    border-color: yellow;
    border-width: 0.2rem;
    color: white; }
  .navbar .navbar-toggler-icon {
    border: solid;
    border-color: red;
    border-radius: 20%;
    background-color: yellow; }
  .navbar .nav {
    background-color: black; }

/* ----------- INDEX MAIN ------------- */
.body__main {
  text-align: center;
  justify-content: center;
  width: 100%; }

.artmain {
  padding: 1vw;
  margin: 1vw;
  color: red; }

.maingif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding-bottom: 5%; }

.maintext, .maintext--principal {
  vertical-align: middle;
  text-align: center;
  font-size: medium;
  font-weight: bold; }

.mainh2 {
  vertical-align: middle;
  text-align: center; }

.maintext--principal {
  background-color: yellow;
  border: solid;
  border-color: red; }

/* ----------- INTEGRANTES ------------- */
.carousel-caption h5 {
  color: yellow;
  font-size: 2em;
  font-weight: bolder; }

.carousel-caption p {
  color: red;
  font-size: 2em;
  font-weight: bolder; }

.carousel-item img {
  width: auto;
  height: auto;
  object-position: center center; }

.carousel-item {
  object-fit: contain; }

/* ----------- HISTORIA ------------- */
.art {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 1.4rem;
  margin: 2rem auto 2rem auto;
  background-image: url("../../assets/images/backgroundtext.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  box-sizing: border-box; }

.art__title {
  width: 100%;
  font-family: "Arial";
  font-size: 3rem;
  color: red;
  margin-bottom: 5rem;
  text-align: center; }

.art__text {
  padding: auto;
  font-family: "Arial";
  font-weight: 600;
  font-size: medium;
  width: 100%;
  text-align: justify; }

/* ----------- MEDIA ------------- */
.container__media {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-rows: [R1] 33.3% [R2] 33.3% [R3] 33.3% [R4];
  grid-template-columns: [C1] 20% [C2] 80% [C3];
  grid-template-areas: ". vid1" "spo vid2" ". vid3";
  margin: 10% 0% 10% 0%;
  color: red; }

.spo {
  grid-area: spo;
  justify-self: center;
  width: 100%; }

.spos {
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; }

.vids {
  width: 35%;
  height: 80%;
  align-self: center;
  justify-self: center; }

.vid1 {
  grid-area: vid1; }

.vid2 {
  grid-area: vid2; }

.vid3 {
  grid-area: vid3; }

.media__p {
  text-align: center; }

/* ----------- CONTACTO ------------- */
.body__contacto {
  color: red; }

/* ----------- FOOTER ------------- */
.body__footer {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  text-align: center; }

.footer__gif {
  max-width: 70px;
  max-width: 70px; }

.f2,
.f3 {
  margin-top: 1rem; }

.f2 {
  color: red; }

.th {
  text-align: left; }

/* -------------------------------------------- RESPONSIVE  HEADER ---------------------------------------------------- */
@media (max-width: 992px) {
  .navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh; }
    .navbar .navbar-brand {
      display: none; }
    .navbar .navbar-nav {
      display: flex;
      flex-direction: row;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-evenly;
      font-family: Arial, Helvetica, sans-serif;
      font-size: large;
      margin: 0rem;
      padding: 0rem;
      text-align: center;
      list-style-type: none;
      margin-bottom: 3vh; }
    .navbar .navbar-nav li {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: 0rem;
      padding: 0rem; }
    .navbar .navbar-nav li a {
      border: solid;
      width: 80%;
      font-size: 1.2rem;
      font-weight: 200;
      letter-spacing: 0.2rem;
      font-variant: small-caps;
      font-style: normal;
      font-family: "Arial";
      background-color: red;
      border-color: yellow;
      border-width: 0.2rem;
      color: black;
      border-radius: 10%;
      align-self: center; }
    .navbar .navbar-nav li a:hover {
      padding: 0.2rem;
      border: solid;
      font-size: 1.5rem;
      font-weight: 400;
      text-decoration: none;
      letter-spacing: 0.1rem;
      font-variant: small-caps;
      font-style: normal;
      font-family: "Arial";
      text-transform: uppercase capitalize;
      transition: all 200ms;
      background-image: linear-gradient(to right, yellow, yellow, red);
      border-color: red;
      border-width: 0.2rem;
      color: black; }
    .navbar .navbar-toggler-icon {
      border: solid;
      border-color: yellow;
      border-radius: 20%;
      background-color: yellow; }
    .navbar .navbar-toggler-icon:hover {
      border: solid;
      border-color: red;
      border-radius: 20%;
      background-color: red; } }

/* -------------------------------------------- RESPONSIVE  INDEX MAIN ---------------------------------------------------- */
@media (max-width: 992px) {
  .maingif {
    width: 70%; } }

/* -------------------------------------------- RESPONSIVE  INTEGRANTES ---------------------------------------------------- */
@media (max-width: 992px) {
  .carousel-item img {
    box-sizing: border-box;
    max-width: 80vw;
    height: auto;
    max-height: 40vh;
    object-fit: contain;
    object-position: center center; }
  .carousel-caption h5 {
    color: yellow;
    font-size: 1em;
    font-weight: bolder; }
  .carousel-caption p {
    color: red;
    font-size: 1em;
    font-weight: bolder; } }

@media (max-width: 560px) {
  .carousel-item img {
    box-sizing: border-box;
    max-width: 100vw;
    height: auto;
    max-height: 40vh;
    object-fit: contain;
    object-position: center center; }
  .carousel-caption h5 {
    color: yellow;
    font-size: 1em;
    font-weight: bolder; }
  .carousel-caption p {
    color: red;
    font-size: 1em;
    font-weight: bolder; } }

/* -------------------------------------------- RESPONSIVE  MEDIA ---------------------------------------------------- */
@media (max-width: 992px) {
  .container__media {
    display: grid;
    width: 100%;
    height: 80vh;
    grid-template-rows: [R1] 25% [R2] 25% [R3] 25% [R4] 25% [R4];
    grid-template-columns: [C1] 100% [C2];
    grid-template-areas: "spo" "vid1" "vid2" 'vid3'; }
  .vids {
    align-self: center;
    justify-self: center;
    width: 70%; } }

/* -------------------------------------------- RESPONSIVE HISTORIA ---------------------------------------------------- */
@media (max-width: 992px) {
  .art {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 1.4rem;
    margin: 2rem auto 2rem auto;
    background-color: yellow;
    background-image: url(../Images/Backgroundtext.jpg);
    background-repeat: repeat;
    box-sizing: border-box; }
  .art__title {
    width: 100%;
    font-family: "Arial";
    font-size: 2rem;
    color: red;
    margin-bottom: 2rem;
    text-align: center; }
  .art__text {
    padding: auto;
    font-family: "Arial";
    font-weight: 400;
    font-size: 1rem;
    width: 100%;
    text-align: justify; } }
