/* -------------------------------------------- INDEX MAIN ---------------------------------------------------- */




@media (max-width: 768px) {
    .maingif {
        width: 100%;
      }
}

@media(max-width: 768px){
  .Margen li {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin: 0rem;
    padding: 0rem;
    text-align: center;
    list-style-type: none;
    box-sizing: border-box;
  }
}


@media(max-width: 768px) {
  .Margen li a {
    border: solid;
    font-size: 1rem;
    font-weight: 200;
    text-decoration: none;
    letter-spacing: 0.1rem;
    font-variant: small-caps;
    font-style: normal;
    font-family: "Arial";
    background-color: rgba(231, 9, 28, 0.822);
    border-color: yellow;
    border-width: 0.1rem;
    color: black;
    width: 30%;
    align-self: center;
  }
}




/* -------------------------------------------- INTEGRANTES ---------------------------------------------------- */




@media (max-width: 768px) {
  .container__integrantes {
    display: grid;
    height: 150vh;
    grid-template-rows: [R1] 5% [R2] 20% [R3] 5% [R4] 20% [R5] 5% [R6] 20% [R7] 5% [R8] 20% [R9];
    grid-template-columns: [C1] 100% [C2];
    grid-template-areas:
      "int1"
      "img1"
      "int2"
      "img2"
      "int3"
      "img3"
      "int4"
      "img4";
    margin: 10vw 5vw 10vw 5vw;
  }
}